/* Utilitis */
* {
  background-color: rgb(135, 135, 206);
  box-sizing: border-box;
}

/* Variabili colori */

/* CSS esempio
:root {
  --primary-brand-color: #2563eb;
} 

colori nav ed hero 
--goldenrod: #DAA520ff;
--light-blue: #ADD8E6ff;
--violet-web-color: #EE82EEff;
--navy-blue: #00008Bff;

colori sezione 
--dodger-blue: #1E90FFff;
--timberwolf: #D3D3D3ff;
--pink: #FFC0CBff;

colori speciali e gallery 
--light-coral: #F08080ff;
--forest-green: #228B22ff;
--light-sea-green: #20B2AAff;


*/

:root {
    --nav-color: 
    --hero-color:
    --div-hero-color:
    --section-color1:
    --section-color2:
    --special-color:
    --gallery-color1:
    --gallery-color2:
    --footer-color1:
    --footer-color2:
}

/* Utilitis nomi classi 
hero 
uguali (sezioni uguali) 
gallery
container
*/

/* forse dopo devo modificare il nome */
.container{
    display: flex;
    justify-content: center;
}

/* div con i bordi solidi così li vedo meglio, dopo cambia! */
div {border-color: black;
    border-style: solid;
    display: inline;
}
