/* Utilitis */
* {
  background-color: rgb(135, 135, 206);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Variabili colori */

/* CSS esempio
:root {
  --primary-brand-color: #2563eb;
} 

colori nav ed hero 
--goldenrod: #DAA520ff;
--light-blue: #ADD8E6ff;
--violet-web-color: #EE82EEff;
--navy-blue: #00008Bff;

colori sezione 
--dodger-blue: #1E90FFff;
--timberwolf: #D3D3D3ff;
--pink: #FFC0CBff;

colori speciali e gallery 
--light-coral: #F08080ff;
--forest-green: #228B22ff;
--light-sea-green: #20B2AAff;


*/

:root {
    --header-color:#ADD8E6ff;
    --nav-color:#DAA520ff ;
    --hero-color: #00008Bff;
    --div-hero-color: #EE82EEff;
    --section-color1:#1E90FFff;
    --section-color2:#FFC0CBff;
    --section-inverso:#D3D3D3ff;
    --special-color:#228B22ff;
    --gallery-color1:
    --gallery-color2:
    --footer-color1:
    --footer-color2:
}

/* Utilitis nomi classi 
hero 
uguali (sezioni uguali) 
gallery
container
colonnabig
colonnasmall
verdone
*/

/*quando inserisco elementi qui dentro non mi va nulla.....
devo cominciare direttamente ad inserirli qui dentro, ora è tardi per farlo continuo così
*/ 
.debug {
    *
    {border-color: black;
    
    }
}

/* forse dopo devo modificare il nome */
.container{
    display: flex;
    justify-content: center;
}

/* div con i bordi solidi così li vedo meglio, dopo cambia! */

div {border-color: black;
    border-style: dotted;
    display: inline;
    background-color: var(--nav-color);
}





nav{
    background-color: var(--header-color);}

.hero{background-color: var(--hero-color);}    

.rosone{background-color: var(--div-hero-color);
    
      min-width: 602px;
    min-height: 200px;
    margin: 30px 0;
   /*l'ho messo per visualizzarlo ma con flexbox dovrei toglierlo */
}    

.uguali {
    margin: 30px 0;
}

.colonnabig{
    min-width: 368px;
    min-height: 200px;
    background-color: var(--section-color1);
}

.colonnasmall{ min-width: 368px;
    min-height: 200px;
background-color: var(--section-color2);}

.inverso, .special {
    flex-direction: row-reverse;
    background-color:var(--section-inverso);
}

.verdone{
     background-color: var(--special-color);   
     min-width: 368px;
     min-height: 200px;

}