/* Provo una nuova strada per farlo */
* {
  background-color: blue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

    /* Colori nav ed hero */
    --header-color:#ADD8E6ff;
    --nav-color:#DAA520ff ;
    --hero-color: #00008Bff;
    --div-hero-color: #EE82EEff;

    /* colori sezione  */
    --section-color1:#1E90FFff;
    --section-color2:#FFC0CBff;
    --section-inverso:#D3D3D3ff;

    /* colori speciali e gallery  */
    --special-color:#228B22ff;
    --gallery-color1:#20B2AAff;
    --gallery-color2:#F08080ff;

    /* colori footer */
    --footer-color1:
    --footer-color2:
}

/* classi che servono 

debug -- per tutte le altezze Ok ma mi manca la possibilità di usarlo come a lezione quindi non ha del tutto senso usarlo... 

container -- per flexbox 

i vari colori che devono essere separati

hero -- identifica la sezione 

inverso -- per il posizionamento diverso dei div 

special -- per la sezione diversa 

gallery -- per la galleria 

*/

  
.container{
    display: flex;
    background-color: green;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* tutti i nav che hanno la class container, mettono sulla riga i loro items */
nav.container{ 
    display: flex;
    flex-direction: row;

}